{% extends 'school/homebase.html' %}

{% block content %}

<br>
<br>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h1 class="display-4">Hello, Admin</h1>
      <p class="lead">Welcome to the Online School Management System.</p>
      <hr class="my-4">
      <p>You can access various features after Login/SignUp.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg me-3" href="adminsignup" role="button">SignUp</a>
        <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Login</a>
      </p>
    </div>
  </div>
</div>

{% endblock content %}

